<section class="about">
    <div class="about-content">
      <h2>Sobre a Festa</h2>
      <p>✨ Uma celebração única para a Rapha! ✨</p>
  
      <div class="about-details">
        <h3>Uma Noite Mágica</h3>
        <p>Você está convidado para uma noite cheia de alegria e diversão! Venha dançar ao som das melhores músicas e criar memórias inesquecíveis com amigos e família.</p>
  
        <h3>Data da Festa</h3>
        <p><strong>Data:</strong> 19 de Maio de 2025</p>
  
        <h3>Localização</h3>
        <div class="map-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.3772823174627!2d-47.05384850000001!3d-23.6624622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cfa774cbbf6aa7%3A0x91a9f2255b85915a!2zU8OtdGlvIE9saG8gRCfDgWd1YQ!5e0!3m2!1spt-BR!2sbr!4v1729356752748!5m2!1spt-BR!2sbr"
            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
          
        <h3>Venha Celebrar!</h3>
        <p>Estamos ansiosos para celebrar este momento especial com você! Sua presença tornará a festa ainda mais inesquecível!</p>
      </div>
    </div>
  </section>
  